.edit-profile-background {
    background: url('https://scrapswap.s3.amazonaws.com/splash_6.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.profile-image-form {
    width: 60%;
    height: calc(100vh - 87px);
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(255, 255, 255, 85%);
    padding-top: 48px;
    padding-bottom: 72px;
}

.profile-image-form>h2 {
    text-align: center;
    padding-bottom: 24px;
}

.user-form-inputs {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.user-image-inputs {
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.user-image-inputs>img {
    height: 280px;
    width: 280px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.user-image-inputs>input {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
    text-align: center;
    width: auto;
    border: 1px solid #282828;
    border-radius: 6px;
    padding: 12px;
}

.user-image-inputs>button {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.user-text-inputs {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    padding-right: 72px;
    align-self: center;
}

.user-text-inputs>input {
    padding: 8px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 6px;
    border: 1px solid #282828;
}

.user-text-inputs>textarea {
    height: 160px;
    min-height: 160px;
    overflow-y: scroll;
    overflow-wrap: break-word;
    padding: 8px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 6px;
    border: 1px solid #282828;
    resize: vertical;
}
