.scrap-view-gradient {
    background-image: linear-gradient(#f1f1f1, transparent);
    width: 100%;
    height: 60px;
}

.user-view-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 60px;
    padding-top: 24px;
}

.user-view-body>h3 {
    padding-top: 24px;
    padding-bottom: 8px;
}

.user-view-profile-pic {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: -32px;
    border-width: 2px;
    background: linear-gradient(rgb(118, 118, 118), rgb(133, 133, 133));
    background-color: #FFFEFA;
    box-shadow: 1px 1px 4px #282828;
    object-fit: cover;
}

.user-view-header {
    font-family: 'Josefin Slab', serif;
    font-size: 28px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
}

.user-view-bio-header {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.user-view-bio {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding-left: 20%;
    padding-right: 20%;
}

.user-view-scraps-gallery {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    column-gap: 24px;
}

.user-view-scraps-gallery-long {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 24px;
    row-gap: 24px;
    margin-left: auto;
    margin-right: auto;
}

.user-view-card {
    height: 320px;
    width: 260px;
    display: flex;
    flex-direction: column;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-radius: 12px;
    background-color: #FFFEFA;
    box-shadow: 1px 1px 4px #282828;
}

.user-view-card:active {
    box-shadow: 2px 4px 8px #282828;
}

.user-view-card-image {
    height: 240px;
    width: 256px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;
    left: 0;
}

.user-view-card-title {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 34px;
    margin-bottom: 6px;
    margin-top: 0px;
    padding-left: 6px;
    padding-right: 8px;
    padding-top: 10px;
    width: 100%;
    font-family: 'Josefin Slab', serif;
    font-size: 20px;
    font-weight: bold;
    padding-left: 6px;
    padding-right: 8px;
}

.user-view-card-title:hover {
    text-shadow: 0 0 2px #282828;
}

.user-view-card-target {
    padding-left: 6px;
    margin-top: 0px;
}


.user-option-button {
    margin-top: 12px;
    background-color: #E7717D;
    font-family: 'Open Sans', sans-serif;
    border-radius: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: black;
}

.user-view-no-scraps {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

.user-view-no-scraps>img {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
}

.users-likes {
    margin-top: 48px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -24px;
}

.users-likes-gallery {
    display: flex;
    flex-direction: row;
    column-gap: 12px;
    row-gap: 24px;
}

.users-likes-gallery>.card {
    margin-right: 24px;
}

.users-likes-gallery-long {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 24px;
    row-gap: 24px;
    margin-left: auto;
    margin-right: auto;
}

.users-likes-gallery-long>.card {
    margin-bottom: 12px;
}

.missing-likes {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', sans-serif;
}

.follow-button {
    margin-top: 12px;
    background-color: #E7717D;
    font-family: 'Open Sans', sans-serif;
    border-radius: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: black;
}

.follows-section {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    column-gap: 100px;
}

.follows-section>div {
    margin-top: 8px;
    margin-bottom: 12px;
}

.follow-section-header {
    margin-top: -12px;
}

.follow-count {
    font-weight: bold;
}

.follow-body {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    min-height: calc(100vh - 87px);
    height: 100%;
    background: url('https://scrapswap.s3.amazonaws.com/splash_7.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.follow-content {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 48px;
    padding-bottom: 60px;
    background-color: rgba(255, 255, 255, 85%);
    min-height: calc(100vh - 87px);
    height: 100%;
}

.follow-single-user {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
    margin-bottom: 4px;
    align-content: center;
    text-align: justify;
    column-gap: 24px;
}

.follower-profile-pic {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 2px #282828;
}

.follower-profile-pic:active {
    box-shadow: 0 0 8px #282828;
}

.follow-text {
    font-family: 'Open Sans', sans-serif;
}

.follow-none-found {
    font-family: 'Montserrat', sans-serif;
}

.follow-content>button{
    background-color: #E7717D;
    font-family: 'Open Sans', sans-serif;
    border-radius: 6px;
    font-size: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
}
