.card {
    height: 248px;
    width: 180px;
    display: flex;
    flex-direction: column;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-radius: 12px;
    background-color: #FFFEFA;
    box-shadow: 1px 1px 4px #282828;
    text-align: center;
    margin-bottom: 48px;
}

.card:active {
    box-shadow: 2px 4px 8px #282828;
}

.card-image {
    height: 160px;
    width: 176px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;
    left: 0;
}

.card-title {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 34px;
    margin-bottom:6px;
    margin-top: 0px;
    padding-left: 6px;
    padding-right: 8px;
    padding-top: 10px;
    width: 100%;
    font-family: 'Josefin Slab', serif;
    font-size: 20px;
}

.card-title:hover {
    text-shadow: 0 0 2px #282828;
}

.card-user {
    margin-top: -4px;
    margin-left: 6px;
    margin-right: 6px;
    font-size: 11px;
}

.card-target {
    margin-top: -8px;
    margin-left: 6px;
    margin-right: 6px;
    font-size: 12px;
}
