.edit-scrap-background {
    background-image: url('https://scrapswap.s3.amazonaws.com/splash_2.jpg');
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    object-position: center;
}
