.edit-scrap-background {
    background: url('https://scrapswap.s3.amazonaws.com/splash_2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
