body {
    margin: 0px;
    background-color: #FFFEFA;
    min-width: 1400px;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #282828;
}

a:hover {
    font-weight: bold;
}

a:active {
    text-shadow: 0 0 12px #282828;
}

h1 {
    font-family: 'Josefin Slab', serif;
    font-size: 44px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
