.comment-view-body {
    width: 60%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
    margin-bottom: 48px;
}

.comment-block {
    background-color: #f1f1f1;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-radius: 12px;
    box-shadow: 1px 1px 4px #282828;
    border-radius: 6px;
    padding: 14px;
    margin-bottom: 12px;
}

.comment-profile-pic {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    align-self: center;
}

.comment-profile-pic:active {
    box-shadow: 0px 0px 8px #282828;
}

.comment {
    display: grid;
    grid-template-columns: 50px 1fr;
    column-gap: 12px;
    align-items: center;
    height: 100%;
    padding-bottom: 12px;
}

.comment-user {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #E7717D;
    width: max-content;
    align-self: center;
    border-radius: 16px;
}

.comment-user>a {
    color: #E7717D;
}

.comment-user:active {
    text-shadow: 0 0 2px #E7717D;
}

.comment-content {
    padding-top: 4px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    height: max-content;
}

.reply {
    padding-left: 100px;
    padding-top: 14px;
    padding-bottom: 14px;
    display: grid;
    grid-template-columns: 50px 1fr;
    column-gap: 12px;
    align-items: center;
}

#new-comment-textarea {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    resize: vertical;
    min-height: 38px;
    height: 38px;
}

#new-reply-textarea {
    font-family: 'Open Sans', sans-serif;
    width: calc(100% - 100px);
    padding: 8px;
    border-radius: 6px;
    resize: vertical;
    min-height: 38px;
    height: 38px;
    margin-left: 100px;
}

.new-comment-buttons {
    padding-top: 4px;
    justify-content: right;
    display: flex;
    justify-content: flex-end;
    column-gap: 12px;
}

.new-comment-buttons>button {
    background-color: #E7717D;
    font-family: 'Open Sans', sans-serif;
    border-radius: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 12px;
    width: 100px;
}

.toggle-button {
    padding-top: 4px;
    justify-content: right;
    display: flex;
    justify-content: flex-end;
    column-gap: 12px;
}

.toggle-button>button {
    background-color: #E7717D;
    font-family: 'Open Sans', sans-serif;
    border-radius: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 12px;
    width: 150px;
}

.edit-delete-buttons>button {
    border: none;
    background-color: transparent;
    font-size: 11px;
    color: #E7717D;
    width: 100px;
}

.edit-delete-buttons>button:hover {
    font-weight: bold;
    cursor: pointer
}
