.home-container {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 48px;
    height: calc(100% - 87px);
}

.home-container-row {
    display: flex;
    column-gap: 12px;
    justify-content: space-between;
    width: 100%;
}
