.new-scrap-background {
    background: url('https://scrapswap.s3.amazonaws.com/splash_1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

.new-scrap-form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 48px;
    padding-bottom: 60px;
    background-color: rgba(255, 255, 255, 85%);
    text-align: center;
    min-height: calc(100vh - 87px);
    height: 100%;
}

.form-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    padding-right: 32px;
    font-family: 'Open Sans', sans-serif;
}

.form-inputs>input {
    margin-top: 12px;
    margin-bottom: 12px;
}

.submit-button {
    background-color: #E7717D;
    font-family: 'Open Sans', sans-serif;
    border-radius: 6px;
    font-size: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
}


/* --------------- IMAGE FORM --------------- */

.image {
    width: 80%;
    margin-top: 16px;
    margin-bottom: 16px;
    border-radius: 12px;
}

.image-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image-form>input {
    border: 1px solid #282828;
    border-radius: 6px;
    padding: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
}

#file-upload-button {
    font-family: 'Open Sans', sans-serif;
}

#image-upload-button {
    background-color: #E7717D;
    font-family: 'Open Sans', sans-serif;
    border-radius: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
}


/* --------------- FORM INPUTS --------------- */

.form-fields {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}

.form-fields>input {
    padding: 8px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 6px;
    border: 1px solid #282828;
}

.form-fields>textarea {
    padding: 8px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 6px;
    border: 1px solid #282828;
}

#allergens {
    height: 74px;
    resize: none;
}

.form-fields>h2 {
    margin-top: 0px;
}

.form-fields>select {
    padding: 8px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 6px;
    border: 1px solid #282828;
}

#textContent {
    height: 160px;
    min-height: 160px;
    overflow-y: scroll;
    overflow-wrap: break-word;
    padding: 8px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 6px;
    border: 1px solid #282828;
    resize: vertical;
}

#textContent::-webkit-scrollbar-thumb {
    background-color: #282828;
}

.colors-label {
    margin-bottom: -2px;
};

.colors-buttons {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: auto;
}

.colors-buttons>button {
    width: 120px;
    font-family: 'Open Sans', sans-serif;
    margin: 1px;
    border-radius: 6px;
}

.yes-color {
    background-color: #E7717D;
}

/* --------------- ERRORS --------------- */
.form-errors {
    background-color: #E7717D;
    margin-top: -48px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.form-error {
    line-height: 8px;
    color: #FFFEFA;
    text-shadow: 0 0 8px black;
}
